.reef_photo {
   width:150px;

}

.mandarin {
    width:375px;
    height: 300px;
}

.sailfin__tang {
    width:150px;
    
}
.filefish {                  
    width: 150px;
}  
.fishList {
    display:flex;
    flex-wrap: wrap;
    border: 2x blue dashed;
;
   
}


fish__item {
    padding:20px;
     
}
.fishContainer {
    display: flex;

}
.fishCard {
    display:flex;
    padding:10px; 

}