.reef__photo {
    width:50%;
    left:0px;
    right: 0px;

}
.fish__title {
    text-align: center;
}
.mandarin {
    width:375px;
    height: 300px;
}

.sailfin {
    width:375px;
    height: 300px;
}