
@import "./fish.css";
@import "./travel.css";
body {
    background-color:#e2f3f1  ;
}

.contentContainer {
    display:flex;
   color: #2a324b;
   flex-wrap:wrap;
}


.contentContainer__left {
 flex: 3;
 
  
}
.contentContainer_right {
flex: 1 30px;
margin-right:auto;
text-align: left;
padding: 10px;
}


header {
    text-align:left;
}
.travelContainer {
    display: flex;
    flex-wrap: wrap;
}
hr {
   border-top: 10px solid #fe938c;
}
.aquarium {
    background-color: #fe938c ;
    color:  #2a324b;
    padding-top:20px;

}