
@import "./fish.css";
body {
    background-color: #559cad  ;
}

.contentContainer {
    display:flex;
    border: 3px black dotted;
   color: #2a324b;
}



section, aside {
    border: 3px purple dotted;
}
.contentContainer__left {
 flex: 3;
  
}
.contentContainer_right {
flex: 1 30px;
margin-right:auto;
text-align: center;

}
.aquarium {
    text-align: center;
    color: #fed766;
}
.fishList {
    display:flex;
    flex-wrap: wrap;
    border: 2x blue dashed;
    background-color: #fed766;
   
}
.fish {
    text-align: center;
    background-color:#acfcd9 ;
    padding: 20px;
}
head {
    display:flex;
    border: 2px black dashed; 

}
.quotes {
    text-align: center;
}
.locations {
    text-align: center;
}
